<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TVTPopUpWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55BC42191B62908E00236A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55BC42321B62908E00236A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55BC423D1B62908F00236A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
